// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.account.card {
  display: inline-block;
  width: 32%;
}

.account.card.card-body div {
  height: 40px;
}
